<div class="form-center">
  <div class="form">
    <mat-form-field class="full-width">
      <mat-label>Nome da Sala</mat-label>
      <input matInput placeholder="Insira um nome que identifique a sala" [(ngModel)]="nomeSala"
        [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>

  <div class="inline-buttons">
    <button mat-raised-button color="primary" (click)="salvarSala()">Salvar</button>
    <button *ngIf="editando" mat-raised-button color="warn" (click)="removerSala()">Remover</button>
  </div>
</div>