
<div class="titulo-sala">{{nomeSala}}</div>
<div #fullCalendar>
</div>
  <div class="mat-fab-bottom-right">
  <button mat-fab color="warn" (click)="novoEvento()">
    <mat-icon class="icon">add</mat-icon>
  </button>
</div>