.mat-fab-bottom-right {
  position: fixed;
  right: 30px;
  bottom: 15px;
  z-index: 5;
}
.titulo-sala{
  font-weight: 600;
  color:rgb(66, 66, 66);
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  width: 100%;
  display:flex;
  justify-content: center;
}