<mat-toolbar class="toolbar-top" color="primary" routerLink="">
  <span>TODOS - Salas de Reunião</span>
  <span class="toolbar-fullfiled"></span>
  <span></span>
</mat-toolbar>

<router-outlet></router-outlet>
