<div class="form-center">
  <div class="form">
    <mat-form-field class="full-width">
      <mat-label>Descrição da Reunião</mat-label>
      <input matInput placeholder="Insira uma descrição que identifique a reunião" [(ngModel)]="descricao">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Responsável</mat-label>
      <input matInput placeholder="Insira o seu nome" [(ngModel)]="responsavel" required>
    </mat-form-field>
    <div class="inline-fields">
      <mat-form-field class="md-6">
        <input matInput type="datetime-local" placeholder="Início" required [(ngModel)]="inicio">
      </mat-form-field>
      <mat-form-field class="md-6">
        <input matInput type="datetime-local" placeholder="Início" required [(ngModel)]="fim">
      </mat-form-field>
    </div>
  </div>
  <div class="inline-buttons">
    <button mat-raised-button color="primary" (click)="salvarEvento()">Salvar</button>
    <button *ngIf="editando" mat-raised-button color="warn" (click)="cancelarEvento()">Cancelar</button>
  </div>
</div>