.form-center{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-center .form{
  min-width: 30rem;
}

.inline-fields{
  display: flex;
  justify-content: space-between;
}

.inline-buttons{
  display: flex;
  justify-content: space-between;
  min-width: 30rem;
}