.mat-fab-bottom-right {
  position: fixed;
  right: 30px;
  bottom: 15px;
  z-index: 5;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.sem-registros {
  color: rgba(0, 0, 0, 0.54);
  width: 100%;
  display: inline-block;
  text-align: center;
}
