<mat-list>
  <div mat-subheader>Salas</div>
  <div *ngFor="let s of salas">
    <mat-list-item (click)="irParaSala(s.salaId)">
      <mat-icon mat-list-icon>meeting_room</mat-icon>
      <button mat-raised-button (click)="editarSala(s.salaId)">
        <mat-icon>edit</mat-icon>
      </button>
      <div mat-line>{{s.nome}}</div>
    </mat-list-item>

    <mat-divider></mat-divider>
  </div>
  <div class="sem-registros" *ngIf="!salas || salas.length == 0"><span>Não há salas de reunião cadastradas!</span></div>
</mat-list>
<div class="mat-fab-bottom-right">
  <button mat-fab color="warn" (click)="novaSala()">
    <mat-icon class="icon">add</mat-icon>
  </button>
</div>
